.about{
  h3{
    padding: 10px;
    border-bottom: rgba(0,0,0,0.6);
  }
  p{
    padding:10px;
    line-height: 20px
  }
}


.before_after_images{
  padding: 20px;
  .caption{
    text-align: center;
    padding: 5px;
    font-size: 16px;
    background:#d6d6d6;
  }
}
