//Nav

.navbar{
  background:#f3f3f3;
  border-radius: 0;
  font-family: 'Roboto', sans-serif;
  border-top:1px solid $border-color;
  border-bottom:1px solid $border-color;
}
.nav>li>a {
    padding: 15px 15px;
    color:#222;
    font-size: 16px;
}

.nav>li{
    float: left;
}


//Banner

.banner{
  padding:20px;
  min-height:100px;
  max-height:400px;
  background:#ececec;
  .container>a>img{
    padding:15px;
  }
}
